.header {
  transition: all 0.5s;
  box-shadow: var(--light-shadow);
  background: var(--whiteColor);
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.header.sticky {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}

.toggleBtn {
  order: 3;
  font-size: 2rem;
  line-height: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--attentionColor);
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    color: var(--attentionColor);
  }
}
