.header{
  box-shadow: var(--light-shadow);
  background: var(--whiteColor);
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
}


.toggleBtn {
  order: 3;
  font-size: 2rem;
  line-height: 1rem;
  background: transparent;
  border-color: transparent;
  color: var(--attentionColor);
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    color: var(--attentionColor);
  }
}




