.header {
  transition: all 0.5s;
  box-shadow: var(--light-shadow);
  background: var(--whiteColor);
  &__wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
}

.header.sticky {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}

