.logo {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 1.3rem;
  &:before {
    content: "Maksim";
    color: var(--boldColor);
  }
  &:after {
    content: "Semenov";
    color: var(--attentionColor);
  }
}

@media screen and (max-width: 400px) {
  .logo:before {
    content: "M";
  }
}
