.contact {
  display: grid;
  place-items: center;
  padding: 4rem 0;
  &__form {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: var(--whiteColor);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    width: 90vw;
    max-width: 35rem;
    &-group {
      padding: 1rem 1.5rem;
    }
    &-input {
      display: block;
      width: 100%;
      padding: 0.75rem 1rem;
      border: 1px solid var(--boldColor);
      margin-bottom: 1.25rem;
      background: var(--grayLightColor);
      border-radius: var(--radius);
      letter-spacing: var(--spacing);
      &::placeholder {
        font-family: var(--ff-primary);
        color: var(--boldColor);
        text-transform: uppercase;
        letter-spacing: var(--spacing);
      }

    }
    /*&-input.valid{
      background: rgba(0, 149, 75, .3)!important;
    }*/
    &-btn {
      display: block;
      width: 100%;
      padding: 1rem;
      &:disabled{
        color: var(--attentionColor);
        background: transparent;
      }
    }
  }
}

//.contact__form-input

.valid{
  background: rgba(0, 149, 75, .3)!important;
}
.valid:-webkit-autofill,
.valid:-webkit-autofill:focus {
  background: transparent;
  -webkit-box-shadow: 0 0 0 30px rgba(0, 149, 75, .3) inset;
  -webkit-text-fill-color: var(--boldColor) !important;
}

.valid:focus{
  outline: 2px solid #00954B;
}
.noValid:focus{
  outline: 2px solid var(--clr-red-dark);
}
.message{
  color: var(--clr-red-dark);
}

.success__text,
.success__title{
  color: var(--boldColor);
}
.success__title{
  margin: 1rem 0 .5rem;
  font-size: 1.5rem;
}
.success__text{
  margin-bottom: 1rem;
}

.preloader__wrapper{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .6);
}

.preloader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  &-item{
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background: repeating-radial-gradient(var(--attentionColor), transparent 100px);
    animation: bounce 1.5s 0.5s linear infinite;
  }
}

.yellow {
  background-color: var(--yellow);
}

.red {
  background-color: var(--red);
  animation-delay: 0.1s;
}

.blue {
  background-color: var(--blue);
  animation-delay: 0.2s;
}

.violet {
  background-color: var(--violet);
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}