.jobs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jobs__center {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 4rem;
}
.job__btn {
  margin-bottom: 1rem;
  padding: 0.25rem 0;
  background: transparent;
  border: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  cursor: pointer;
  line-height: 1;
  outline: none;
}
.job__btn.active{
  box-shadow: -2px 0 var(--attentionColor);
}

.job__title {
  margin-bottom: 15px;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  font-family: var(--ff-primary);
  font-weight: bold;
  &-info{
    font-size: 1rem;
    color: var(--attentionColor);
  }
}
.job__description{
  &-item{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  &-icon {
    width: 100%;
    max-width: 14px;
    height: 100%;
    margin-right: 40px;
    color: var(--attentionColor);
  }
}
.job__date {
  letter-spacing: var(--spacing);
}

.animateAppear{
  animation: appearAnimate 0.5s ease-in-out 0.3s forwards;
}

@keyframes appearAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .job__btn.active{
    box-shadow: 0 2px 0 var(--attentionColor);
  }
  .jobs__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .jobs__center {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .job__btn {
    font-size: .8rem;
  }
}