.service__icon {
  justify-self: center;
  font-size: 2.5rem;
  color: var(--attentionColor);
}
.service__title{
  font-size: 1rem;
}
.service__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  column-gap: 40px;
}

.service__item{
  position: relative;
  padding: 15px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  grid-row-gap: 15px;
  row-gap: 15px;
}

@media screen and (max-width: 768px){
  .service__list{
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    column-gap: 0;
    row-gap: 20px;
    grid-row-gap: 20px;
  }
  .service__item{
    grid-template-rows: 1fr .5fr 2fr;
  }
}

